
@import url('https://fonts.googleapis.com/css?family=Numans');
html,body{
    
    background-size: auto;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    background-color: #27176b;    

    }
    
    .container{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: 375px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    }
    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    
    .input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    }
    
    input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
    
    }
    
    .remember{
    color: white;
    }
    
    .remember input
    {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
    }
    
    .login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
    }
    
    .login_btn:hover{
    color: black;
    background-color: white;
    }
    
    .links{
    color: white;
    }
    
    .links a{
    margin-left: 4px;
    }

    .otro_color{
        color:white;
        font-family:"Helvetica Neue",Helvetica,Arial,sans-serif,bold ;
        
    }
    #papel
    {
        color: black;

    }
    .title_color{
        color:#428BCA;
        
        
    }
    #act
    {
        color:white;

    }
    .inpco
    {
    background: transparent;
    border: none;
    color: white;
    }
    .menfon
    {
        background-color:#343a40!important ;
        color: #428BCA;
    }
    
    .message {
        padding: 1rem;
    
        background: #eff8ff;
        color: #2779bd;
    
        border-color: #6cb2eb;
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;
        margin-bottom: 2rem;
    }
    .message.hidden {
        display: none;
    }
    .message.success {
        background: #e3fcec;
        color: #1f9d55;
        border-color: #51d88a;
    }
    .message.error {
        background: #fcebea;
        color: #cc1f1a;
        border-color: #ef5753;
    }

    .success:before {
        color: #88c671;
        content: "\0056";
    }
    .cake-error {
        padding: 10px;
        margin: 10px 0;
    }
    